body{
    background: black;
}

#Banner{
    background-color: rgba(145, 241, 241, 0.788);
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
    align-items: center;
    text-align: center;

}

#Banner #Titulo{
    font-size: 80px;
    color: rgb(4, 63, 63);;
}

#foto{
    max-width: 100px;
    margin-left: 300px;
    
}
